@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
@media screen and (min-width: 500px) and (max-width: 1000px) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body {
    background-color: #757782;
  }
  * body #mobilecontainer {
    display: none;
  }
  * body .tabletcontainer #tablethome {
    background-color: #080E2F;
    color: white;
    height: 100vh;
  }
  * body .tabletcontainer #tablethome .tophometablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  * body .tabletcontainer #tablethome .tophometablet .logotablet {
    margin: 2vh 0 0 5vw;
  }
  * body .tabletcontainer #tablethome .tophometablet .logotablet img {
    width: 23vw;
    height: 23vw;
  }
  * body .tabletcontainer #tablethome .tophometablet .hamburgertablet {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36395D;
    border-radius: 40px;
    background-color: #36395D;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin: 1vh 7vw 0 0;
  }
  * body .tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletburger {
    position: relative;
    width: 9vw;
    height: 9vw;
  }
  * body .tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletburger.is-gone {
    opacity: 0;
    transition: 0.5s;
  }
  * body .tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletclose {
    width: 30vw;
    height: 5vh;
    padding: 1vw;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 100;
  }
  * body .tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletclose img {
    width: 10vw;
    height: 10vw;
  }
  * body .tabletcontainer #tablethome .tophometablet .hamburgertablet .tabletclose.is-shown {
    opacity: 1;
    color: white;
    width: 10vw;
    height: 10vw;
    transition: 0.6s;
  }
  * body .tabletcontainer #tablethome .tophometablet .hamburgertablet.is-active {
    color: white;
    font-size: 3vw;
    transition: 0.3s;
  }
  * body .tabletcontainer #tablethome .tablet-nav-home {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #080E2F;
    margin: 0 0 0 0;
    transition: 0.8s;
    z-index: 95;
  }
  * body .tabletcontainer #tablethome .tablet-nav-home .tabletlogohome {
    margin: 5vh 15vw 0 0;
  }
  * body .tabletcontainer #tablethome .tablet-nav-home .tabletlogohome .navlogotablet {
    margin: -2vh 0 0 5vw;
    width: 23vw;
    height: 23vw;
  }
  * body .tabletcontainer #tablethome .tablet-nav-home .tabletlisthome a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-weight: bold;
    margin: 4vh 0 0 9vw;
  }
  * body .tabletcontainer #tablethome .tablet-nav-home .slidesocialstablethome {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 8vw;
  }
  * body .tabletcontainer #tablethome .tablet-nav-home .slidesocialstablethome img {
    width: 8vw;
    height: 8vw;
  }
  * body .tabletcontainer #tablethome .tablet-nav-home.slide-in {
    left: 0;
  }
  * body .tabletcontainer #tablethome .bothometablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vh 0 0 0;
  }
  * body .tabletcontainer #tablethome .bothometablet .phototablet {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #B7BCD6;
    border-radius: 50%;
    width: 44vw;
    height: 44vw;
    background-color: #36395D;
    padding: 1vh;
  }
  * body .tabletcontainer #tablethome .bothometablet .phototablet img {
    border-radius: 50%;
    width: 43vw;
    height: 43vw;
  }
  * body .tabletcontainer #tablethome .bothometablet .nameheadertablet {
    margin: 6vh 0 0 0;
  }
  * body .tabletcontainer #tablethome .bothometablet .nameheadertablet #nametablet {
    font-size: 6vw;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
  }
  * body .tabletcontainer #tablethome .bothometablet .nameheadertablet #jobdescriptablet {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #B7BCD6;
    font-size: 3.5vw;
  }
  * body .tabletcontainer #tablethome .bothometablet .catchphrasetablet {
    margin: 4vh 0 0 0;
    text-align: center;
  }
  * body .tabletcontainer #tablethome .bothometablet .catchphrasetablet #catchphrasetablet {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 3vw;
  }
  * body .tabletcontainer #tablethome .bothometablet .portfoliobuttontablet {
    border: 1px solid #36395D;
    border-radius: 30px;
    background-color: #36395D;
    padding: 2vw;
    width: 40vw;
    height: 3vw;
    text-align: center;
    margin: 10vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .tabletcontainer #tablethome .bothometablet .portfoliobuttontablet a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #EBEBEB;
    font-size: 3vw;
  }
  * body .tabletcontainer #abouttabletcontainer #abouttablet {
    background-color: #0E4946;
    color: white;
    height: 100vh;
  }
  * body .tabletcontainer #abouttabletcontainer #abouttablet .topabouttablet {
    display: flex;
  }
  * body .tabletcontainer #abouttabletcontainer #abouttablet .topabouttablet .titletablet {
    margin: 5vh 0 0 5vh;
  }
  * body .tabletcontainer #abouttabletcontainer #abouttablet .topabouttablet .titletablet h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body .tabletcontainer #abouttabletcontainer #abouttablet .botabouttablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.8;
    margin: 4vh 0 0 0;
  }
  * body .tabletcontainer #abouttabletcontainer #abouttablet .botabouttablet .infotablet {
    font-family: "Roboto", sans-serif;
    text-align: left;
    padding: 5vh;
    font-size: 3vw;
  }
  * body .tabletcontainer #abouttabletcontainer #abouttablet .botabouttablet .resumetablet {
    border: 1px solid #476D6B;
    border-radius: 40px;
    width: 40vw;
    height: 3vw;
    background-color: #476D6B;
    padding: 2vw;
    margin: 12vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .tabletcontainer #abouttabletcontainer #abouttablet .botabouttablet .resumetablet a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #EBEBEB;
    text-align: center;
    font-size: 3vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet {
    background-color: #146166;
    color: white;
    height: 215vh;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .topskillstablet {
    display: flex;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .topskillstablet .titletablet {
    margin: 4vh 0 0 5vh;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .topskillstablet .titletablet h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet {
    margin: 4vh 0 0 0;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .skillcirclestablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 5vh 0 -3vh -4vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 3vh;
    width: 10vw;
    height: 10vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .html #html {
    width: 7vw;
    height: 7vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .html p {
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 3vh;
    width: 10vw;
    height: 10vw;
    gap: 1vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .css #css {
    width: 7vw;
    height: 7vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .css p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .sass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 3vh;
    width: 10vw;
    height: 10vw;
    gap: 1.5vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .sass #sass {
    width: 6vw;
    height: 6vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsfirstrow .sass p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndescription {
    display: flex;
    flex-direction: column;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndescription .responsivedesigntitle {
    margin: 0 0 0 41.5vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndescription .responsivedesigntitle p {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .responsivedesigndescription .underlineresponsediv .underlinetablet {
    margin: 2vh 0 0 0;
    width: 80vw;
    height: 1vh;
    background-color: #080E2F;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -8vh 0 0 0;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet .iconsuserintrowtablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 8vh 4vw 0 0;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet .iconsuserintrowtablet .react-native {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 3vh;
    width: 10vw;
    height: 10vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet .iconsuserintrowtablet .react-native #react-native {
    width: 8vw;
    height: 8vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet .iconsuserintrowtablet .react-native p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet .iconsuserintrowtablet .reactjs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 3vh;
    width: 10vw;
    height: 10vw;
    gap: 1.5vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet .iconsuserintrowtablet .reactjs #reactjs {
    width: 7vw;
    height: 6.5vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet .iconsuserintrowtablet .reactjs p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet .iconsuserintrowtablet .figma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 3vh;
    width: 10vw;
    height: 10vw;
    gap: 1.5vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet .iconsuserintrowtablet .figma #figma {
    width: 6vw;
    height: 6vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdivtablet .iconsuserintrowtablet .figma p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdescription .userinterfacestitle {
    margin: 4vh 0 2vh 0.5vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdescription .userinterfacestitle p {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .userinterfacesdescription .underlineuserinterfacesdiv .userinterfacelinetablet {
    margin: 0 0 0 0vw;
    width: 80vw;
    height: 1vh;
    background-color: #080E2F;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .scriptingdivtablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0vh 0 0 0;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsthirdrowtablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.2vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsthirdrowtablet .javascript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsthirdrowtablet .javascript #javascript {
    margin: -1vh 0 0 0;
    width: 8vw;
    height: 8vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsthirdrowtablet .javascript p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsthirdrowtablet .python {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsthirdrowtablet .python #python {
    margin: -1vh 0 0 0;
    width: 7vw;
    height: 7vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsthirdrowtablet .python p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsthirdrowtablet .php {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsthirdrowtablet .php #php {
    margin: -1vh 0 0 0;
    width: 7vw;
    height: 7vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .iconsthirdrowtablet .php p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .scriptingdescription .scriptingtitle {
    margin: 4vh 0 -6vh 60vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .scriptingdescription .scriptingtitle p {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .scriptingdescription .underlinescriptingdiv .scriptinglinetablet {
    margin: 8vh 0 0 0;
    width: 80vw;
    height: 1vh;
    background-color: #080E2F;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .iconsfourthrowtablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .iconsfourthrowtablet .nodejs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .iconsfourthrowtablet .nodejs #nodejs {
    margin: 0vh 0 0 0;
    width: 6vw;
    height: 7vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .iconsfourthrowtablet .nodejs p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .iconsfourthrowtablet .django {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .iconsfourthrowtablet .django #django {
    margin: 0vh 0 0 0;
    width: 8vw;
    height: 8vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .iconsfourthrowtablet .django p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .iconsfourthrowtablet .laravel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .iconsfourthrowtablet .laravel #laravel {
    margin: 0vh 0 0 0;
    width: 6vw;
    height: 6vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .iconsfourthrowtablet .laravel p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .webframeworksdescription .serversidetitle {
    margin: 4vh 0 0 1vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .webframeworksdescription .serversidetitle p {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .webframeworksdivtablet .webframeworksdescription .underlinewebframeworksdiv .webframeworkslinetablet {
    margin: 2vh 0 0 0vw;
    width: 80vw;
    height: 1vh;
    background-color: #080E2F;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .iconsfifthrowtablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .iconsfifthrowtablet .mongo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .iconsfifthrowtablet .mongo #mongo {
    margin: 0vh 0 0 0;
    width: 3vw;
    height: 8vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .iconsfifthrowtablet .mongo p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .iconsfifthrowtablet .firebase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .iconsfifthrowtablet .firebase #firebase {
    margin: -2vh 0 0 0;
    width: 10vw;
    height: 10vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .iconsfifthrowtablet .firebase p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .iconsfifthrowtablet .postgre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .iconsfifthrowtablet .postgre #postgre {
    margin: 0vh 0 0 0;
    width: 8vw;
    height: 7.5vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .iconsfifthrowtablet .postgre p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .databasedescription .databasetitle {
    margin: 4vh 0 0 34vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .databasedescription .databasetitle p {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .databasedivtablet .databasedescription .underlinedatabasediv .databaselinetablet {
    margin: 2vh 0 0 0;
    width: 80vw;
    height: 1vh;
    background-color: #080E2F;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet .iconssixthrowtablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet .iconssixthrowtablet .heroku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet .iconssixthrowtablet .heroku #heroku {
    width: 7vw;
    height: 7vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet .iconssixthrowtablet .heroku p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet .iconssixthrowtablet .azureicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 50%;
    padding: 2vh;
    width: 13vw;
    height: 13vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet .iconssixthrowtablet .azureicon #azureicon {
    width: 6vw;
    height: 6vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet .iconssixthrowtablet .azureicon p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet .iconssixthrowtablet .aws {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #507e81;
    background-color: #080E2F;
    border-radius: 10px;
    border-radius: 50%;
    padding: 3vh;
    width: 10vw;
    height: 10vw;
    gap: 1vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet .iconssixthrowtablet .aws #aws {
    width: 7vw;
    height: 7vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdivtablet .iconssixthrowtablet .aws p {
    color: white;
    color: #7FC4C9;
    font-size: 2.5vw;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdescription .deploymenttitle {
    margin: -3vh 0 0 0;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdescription .deploymenttitle p {
    font-family: "Julius Sans One", sans-serif;
    font-size: 4vw;
  }
  * body .tabletcontainer #skillstabletcontainer #skillstablet .botskillstablet .deploymentdescription .underlinedeploymentdiv .deploymentlinetablet {
    margin: 2vh 0 0 0;
    width: 80vw;
    height: 1vh;
    background-color: #080E2F;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521);
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv {
    background-color: #080E2F;
    color: white;
    height: 105vh;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .topportfoliotablet {
    display: flex;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .topportfoliotablet .titlemobile {
    margin: 4vh 0 0 5vh;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .topportfoliotablet .titlemobile h1 {
    font-size: 10vw;
    font-family: "Inter", sans-serif;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .topportfoliotablet.darker {
    opacity: 0;
    transition: all 0.8s;
    color: #080E2F;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .topportfoliotablet.darker2 {
    opacity: 1;
    transition: 1.5s;
    color: white;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile {
    display: flex;
    flex-direction: column;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #080E2F;
    margin: -5vh 0 0 0;
    transition: ease-in 0.8s;
    z-index: 98;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border {
    border: 4px solid #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    margin: 10vh 0 0 2.5vw;
    width: 88%;
    height: 80%;
    padding: 2vh;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .toplevel {
    display: flex;
    justify-content: space-between;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .toplevel .app1logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 3vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .toplevel .app1logo img {
    width: 16vw;
    height: 16vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .toplevel .app1logo p {
    font-family: "Julius Sans One", sans-serif;
    font-size: 3vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .toplevel .sectiontitle {
    margin: 4vh 5.5vw 0 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .toplevel .sectiontitle p {
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-weight: bold;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .app1description {
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 2.5vw;
    margin: 5vh 0 0 0;
    padding-left: 3vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies {
    margin: 5vh 0 0 2.5vw;
    font-family: "Inter", sans-serif;
    font-size: 2.5vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies h3 {
    font-size: 3vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles {
    display: flex;
    margin: 2vh 0 0 0;
    gap: 4vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles .apptechcircle {
    border: 1px solid #05607D;
    background-color: #05607D;
    border-radius: 50%;
    width: 18vw;
    height: 18vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles .apptechcircle #react {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    height: 100%;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles .apptechcircle #react img {
    width: 8vw;
    height: 8vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles .apptechcircle #react p {
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    color: #B7BCD6;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles .apptechcircle #express {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 100%;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles .apptechcircle #express img {
    width: 7vw;
    height: 7vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles .apptechcircle #express p {
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    color: #B7BCD6;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles .apptechcircle #firebase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3vh;
    height: 100%;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles .apptechcircle #firebase img {
    width: 8.5vw;
    height: 8.5vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .apptechnologies .apptechcircles .apptechcircle #firebase p {
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    color: #B7BCD6;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .accomplishments {
    margin: 4vh 0 0 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .accomplishments h3 {
    font-family: "Inter", sans-serif;
    margin: 0 0 1vh 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .accomplishments p {
    font-family: "Inter", sans-serif;
    font-size: 2.5vw;
    line-height: 3.5vh;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .links {
    margin: 2vh 0 0 0.1vw;
    display: flex;
    gap: 5vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .links .linkto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #B7BCD6 1px solid;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-color: #FFFFFF;
    width: 8vw;
    height: 8vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .links .linkto a {
    margin: 0.5vh 0 0 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .links .linkto a img {
    width: 6vw;
    height: 6vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .links .linkto p {
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: #05607D;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .links .github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #B7BCD6 1px solid;
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 8vw;
    height: 8vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .links .github a {
    margin: 0.5vh 0 0 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .links .github a img {
    width: 6vw;
    height: 6vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .border .app1content .links .github p {
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: bold;
    margin: 0 0 0 0;
    color: #05607D;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .closeapp1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0 0 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .closeapp1 .back_arrow_one {
    background-color: #080E2F;
    color: white;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description .closeapp1 .back_arrow_one img {
    width: 4vw;
    height: 4vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-1-description.slide-in {
    left: 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #080E2F;
    margin: -6vh 0 0 0;
    transition: ease-in 0.8s;
    z-index: 98;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo {
    border: 4px solid #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    margin: 12vh 0 0 2.5vw;
    width: 88%;
    height: 78%;
    padding: 2vh;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .topleveltwo {
    display: flex;
    justify-content: space-between;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .topleveltwo .app2logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5vh 0 0 3vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .topleveltwo .app2logo img {
    width: 35vw;
    height: 6vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .topleveltwo .sectiontitle {
    margin: 2vh 5.5vw 0 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .topleveltwo .sectiontitle p {
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-weight: bold;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .app2description {
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 2.5vw;
    margin: 8vh 0 0 0;
    padding-left: 3vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo {
    margin: 5vh 0 0 2.5vw;
    font-family: "Inter", sans-serif;
    font-size: 2.5vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo h3 {
    font-size: 3vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo {
    display: flex;
    margin: 2vh 0 0 -1vw;
    font-family: "Inter", sans-serif;
    gap: 4vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo .apptechcircletwo {
    border: 1px solid #05607D;
    background-color: #05607D;
    border-radius: 50%;
    width: 18vw;
    height: 18vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo .apptechcircletwo #react {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    height: 100%;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo .apptechcircletwo #react img {
    width: 8vw;
    height: 8vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo .apptechcircletwo #react p {
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    color: #B7BCD6;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo .apptechcircletwo #express {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 100%;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo .apptechcircletwo #express img {
    width: 7vw;
    height: 7vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo .apptechcircletwo #express p {
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    color: #B7BCD6;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo .apptechcircletwo #mongo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3vh;
    height: 100%;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo .apptechcircletwo #mongo img {
    width: 8.5vw;
    height: 8.5vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .apptechnologiestwo .apptechcirclestwo .apptechcircletwo #mongo p {
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    color: #B7BCD6;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .accomplishmentstwo {
    margin: 4vh 0 0 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .accomplishmentstwo h3 {
    font-family: "Inter", sans-serif;
    margin: 0 0 1vh 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .accomplishmentstwo p {
    font-family: "Inter", sans-serif;
    font-size: 2.5vw;
    line-height: 3.5vh;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .linkstwo {
    margin: 3vh 0 0 0.1vw;
    display: flex;
    gap: 5vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .linkstwo .linkto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #B7BCD6 1px solid;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-color: #FFFFFF;
    width: 8vw;
    height: 8vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .linkstwo .linkto a {
    margin: 0.5vh 0 0 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .linkstwo .linkto a img {
    width: 6vw;
    height: 6vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .linkstwo .linkto p {
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: #05607D;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .linkstwo .github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #B7BCD6 1px solid;
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 8vw;
    height: 8vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .linkstwo .github a {
    margin: 0.5vh 0 0 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .linkstwo .github a img {
    width: 6vw;
    height: 6vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .bordertwo .app2content .linkstwo .github p {
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: bold;
    margin: 0 0 0 0;
    color: #05607D;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .closeapp2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0 0 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .closeapp2 .back_arrow_two {
    background-color: #080E2F;
    color: white;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description .closeapp2 .back_arrow_two img {
    width: 4vw;
    height: 4vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .app-2-description.slide-in {
    left: 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .portfoliooutlinetablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh;
    margin: -4vh 0 0 0;
    gap: 6vh;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .portfoliooutlinetablet .app1 {
    border: 1px solid #36395D;
    background-color: #36395D;
    border-radius: 10px;
    height: 30vw;
    width: 78vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    margin: 4vh 0 0 0;
    width: 100%;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .portfoliooutlinetablet .app1 img {
    width: 15vw;
    height: 15vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .portfoliooutlinetablet .app1 p {
    font-size: 4vw;
    font-family: "Julius Sans One", sans-serif;
    color: white;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .portfoliooutlinetablet .app2 {
    border: 1px solid #36395D;
    background-color: #36395D;
    border-radius: 10px;
    height: 30vw;
    width: 78vw;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .portfoliooutlinetablet .app2 img {
    margin: 0.5vh 0 0 0;
    width: 40vw;
    height: 6vw;
    flex-shrink: 0;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .portfoliooutlinetablet .app3 {
    border: 1px solid #36395D;
    background-color: #36395D;
    border-radius: 10px;
    height: 30vw;
    width: 78vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    width: 100%;
  }
  * body .tabletcontainer #portfoliotabletcontainer #portfoliotabletdiv .botportfoliomobile .portfoliooutlinetablet .app3 img {
    width: 30vw;
    height: 30vw;
  }
  * body.no-scroll {
    overflow: hidden;
    position: fixed;
  }
}/*# sourceMappingURL=style.css.map */