* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    body {
        .container {
            .home {
                height: 100vh;
                background-color: rgb(5, 5, 77);
                color: antiquewhite;
                .grid-container {
                    display: grid;
                    .header {
                        grid-column: 1;
                        grid-row: 2;
                        font-size: 1.5vw;
                        font-weight: bold;
                        margin: 8vh 0 0 12vw;
                    }
                    .circles {
                        grid-column: 2;
                        grid-row: 2;
                        display: flex;
                        gap: 2vw;
                        margin: 40vh 10vw 5vw 0;
                        .circle {
                            background-color: antiquewhite;
                            color: rgb(5, 5, 77);
                            width: 10vw;
                            height: 10vw;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .para {
                        grid-column: 2;
                        grid-row: 3;
                        width: 40vw;
                        font-size: 3vh;
                    }
                    .bigcircle {
                        grid-column: 2;
                        // grid-row: 3 / span 1;
                        border: 1px solid antiquewhite;
                        border-radius: 50%;
                        width: 20vw;
                        height: 20vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .next {
                height: 100vh;
                background-color: rgb(99, 56, 4);
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .circles {
                    display: flex;
                    gap: 10vh;
                    margin: 10vh 0 0 0;
                    .circle {
                        border: 1px solid antiquewhite;
                        width: 10vw;
                        height: 10vw;
                        font-size: 2vw;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: rgb(99, 56, 4);
                        background-color: antiquewhite;
                    }
                }
                .para {
                    width: 40vw;
                    margin: 10vh 0 0 0;
                    font-size: 3vh;
                }
            }
        }
    }
}

// Tablet version
@media screen and (max-width: 500px) {
    body {
        display: none;
        // background-color: darkblue;
    }
    
}